@tailwind base;
@tailwind components;
@tailwind utilities;


.pagination-custom {
    margin-top: 80px;
    opacity: 0.87;
}

.pagination-custom:hover{
    opacity: 1;
}

.nav-active {
    @apply block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500;
}

.nav-default {
    @apply block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent;
}

.container {
    @apply max-w-7xl m-auto px-5;
}

.card {
    @apply block  p-3 bg-white border border-gray-200 rounded-lg shadow-sm hover:shadow hover:bg-gray-50 dark:bg-gray-800 dark:border-gray-700 transition-all ;
}

.card .card-title {
    @apply mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white;
}

.card .card-body {
    @apply font-normal text-gray-700 dark:text-gray-400;
}

.tab-active{
    @apply inline-block p-4 text-blue-600 border-b-2 border-blue-600 rounded-t-lg ;
}

.tab-default {
    @apply inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300;
}

